.button {
  cursor: pointer;
  display: inline-grid;
  place-content: center;

  &:hover,
  &:focus {
    outline: none;
  }

  &.primary {
    --button-color: var(--color-primary);
    --bottun-color-hover: var(--color-primary-hover);
    --button-color-fade: var(--color-primary-fade);
  }

  &.danger {
    --button-color: var(--color-danger);
    --bottun-color-hover: var(--color-danger-hover);
    --button-color-fade: var(--color-danger-fade);
  }

  &.solid {
    background-color: var(--button-color);
    color: var(--color-white);
    border: none;

    &:hover,
    &:focus {
      background-color: var(--bottun-color-hover);
      box-shadow: var(--shadow);
    }
  }

  &.outline {
    background-color: var(--color-surface);
    color: var(--button-color);
    border: 1px solid var(--button-color);

    &:hover,
    &:focus {
      background-color: var(--button-color-fade);
    }
  }

  &.ghost {
    background-color: transparent;
    color: var(--button-color);
    border: none;

    &:hover,
    &:focus {
      background-color: var(--button-color-fade);
    }
  }

  &.small {
    block-size: 1.5rem;

    svg {
      block-size: 1rem;
      inline-size: auto;
    }
  }

  &.medium {
    block-size: 2.25rem;

    svg {
      block-size: 1.25rem;
      inline-size: auto;
    }
  }

  &.large {
    padding: 0.75rem;

    svg {
      block-size: 1.5rem;
      inline-size: auto;
    }
  }

  &.rectangle {
    border-radius: 0.25rem;

    &.medium {
      padding-inline: 0.5rem;
    }

    &.large {
      padding-inline: 0.75rem;
    }
  }

  &.square {
    aspect-ratio: 1/1;
    border-radius: 0.25rem;
  }

  &.circle {
    border-radius: 999rem;
    aspect-ratio: 1/1;
  }
}
