:root {
  --color-white: hsl(0deg 100% 100%);
  --color-black: hsl(0deg 0% 15%);
  --color-primary: hsl(243deg 100% 69%);
  --color-primary-fade: hsl(243deg 100% 90%);
  --color-primary-hover: hsl(243deg 67% 59%);
  --color-primary-outline: hsl(243deg 100% 69% / 40%);
  --color-danger: hsl(0deg 100% 69%);
  --color-danger-fade: hsl(0deg 100% 90%);
  --color-danger-hover: hsl(0deg 67% 59%);
  --color-danger-outline: hsl(0deg 100% 69% / 40%);
  --color-surface: var(--color-white);
  --color-text: var(--color-black);
  --color-border: hsl(243deg 100% 90%);
  --color-backdrop: hsl(0deg 0% 0% / 20%);
  --shadow: 0 4px 140px 0 hsl(0deg 0% 0% / 33%);
  --color-gray-98: hsl(0deg 0% 98%);
  --color-gray-90: hsl(0deg 0% 90%);
  --color-gray-80: hsl(0deg 0% 80%);
  --color-gray-70: hsl(0deg 0% 70%);
  --color-gray-40: hsl(0deg 0% 40%);
  --color-gray-30: hsl(0deg 0% 30%);
  --color-gray-20: hsl(0deg 0% 20%);
  --color-gray-16: hsl(0deg 0% 16%);
  --color-gray-12: hsl(0deg 0% 12%);
  --color-gray-10: hsl(0deg 0% 10%);
  --color-default-background: var(--color-gray-10);
  --color-default-foreground: var(--color-gray-98);

  &.dark {
    --color-primary-hover: hsl(244deg 49% 53%);
    --color-surface: var(--color-black);
    --color-text: var(--color-white);
  }
}

html {
  font-family: Kanit, serif;
  caret-color: var(--color-primary);
  accent-color: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  background-color: var(--color-default-foreground);
  color: var(--color-default-background);
  inline-size: min(46rem, 100% - 2rem);
  margin-inline: auto;
}
